<button (click)="beginFundProject(5)" type="button" name="button" class="btn btn-success">$5</button>
<button (click)="beginFundProject(10)" type="button" name="button" class="btn btn-success">$10</button>
<button (click)="beginFundProject(20)"type="button" name="button" class="btn btn-success">$20</button>
<button (click)="beginFundProject(50)"type="button" name="button" class="btn btn-success">$50</button>
<button (click)="beginFundProject(100)"type="button" name="button" class="btn btn-success">$100</button>
<hr>
<div class="form-inline">
  <label for="Funds">Amount</label>
  <div class="input-group">
    <input type="number" name="funds" #newFunds placeholder="ex. $60, $1000" class="form-control">
    <span class="input-group-addon" id="basic-addon1" (click)="beginFundProject(newFunds.value); newFunds.value='';" name="fund">Fund</span>
  </div>
</div>
