<button (click)="beginFundProject(5)" type="button" name="button" class="btn btn-success">$5</button>
<button type="button" name="button" class="btn btn-success">$10</button>
<button type="button" name="button" class="btn btn-success">$20</button>
<button type="button" name="button" class="btn btn-success">$50</button>
<button type="button" name="button" class="btn btn-success">$100</button>
<div class="funds">
  <label for="Funds">Other amount</label>
  <input type="number" name="funds" #newFunds placeholder="whole numbe amount e.i. $60, $1000" class="form-control">
  <button type="button" name="button" class="btn btn-success">Fund</button>
</div>
