<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Crowdfunding</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="add">Add</a></li>
      <li><a routerLink="projects">Projects</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
