<h2>Projects:</h2>

<select (change)="onChange($event.target.value)">
  <option value="allProjects">All Projects</option>
  <option value="halfway">Halfway to Goal</option>
  <option value="aroundHalf">More or last to Goal</option>
  <option value="oneFourth">Quarter of the way to Goal</option>
</select>

<div *ngFor="let project of projects | async | funds:filterByFunds" class="panel panel-default">
  <div class="panel-body">
    <h4 (click)="goToProjectPage(project)">{{project.name}}</h4>

    <div *ngIf="currentRoute === '/admin'">
      <h4>Description: {{project.description}}</h4>
      <h4>Funding Goal: ${{project.goal}}</h4>
      <h4>Intention: {{project.intention}}</h4>
      <hr>
      <app-edit-project [selectedProject]="project"></app-edit-project>
    </div>
  </div>
</div>
